<div
	class="h-100 d-flex flex-column flex-shrink-0 p-3 text-bg-primary"
	style="width: 280px; position:fixed;"
>
	<a
		href="/"
		class="d-flex align-items-center mb-md-0 me-md-auto text-white text-decoration-none w-100 ps-5"
	>
		<span class="w-100 fs-1">Press</span>
	</a>
	<hr />
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="#" class="nav-link active" aria-current="page">
				Bosh Sahifa
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				Statistika
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				O'chirilganlar
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				Sozlamalar
			</a>
		</li>
	</ul>
</div>