<div
	class="h-100 d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
	style="width: 280px;"
>
	<a
		href="/"
		class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none w-100 ps-5"
	>
		<span class="w-100 fs-4">Press</span>
	</a>
	<hr />
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="#" class="nav-link active" aria-current="page">
				Bosh Sahifa
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				Dashboard
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				Orders
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				Products
			</a>
		</li>
		<li>
			<a href="#" class="nav-link text-white">
				Customers
			</a>
		</li>
	</ul>
</div>